/* Estilos HTML Cómo funciona*/
.como-funciona{
    div{
        max-width: 80%;
        margin: 0 auto;
        padding: 20px;
        ol{
            font-size: 16px;
            line-height: 1.6;
            list-style: decimal inside;
            li{
                margin-bottom: 10px;
            }
        }
    }
}