/* Estilo html Nosotros */
main{
    .section{
        .img-profesor{
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
            img{
                border-radius: 50%;
                width: 150px;
                height: 130px;
            }
        }
        .paragraph-nosotros{
            margin: 20px;
            padding: 20px;
        }
    }
}

