/* Estilo html Contacto */
main{
    .formulario-de-contacto{
        margin: 20px;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        div{
            padding-top: 18px;
            .input-contacto{
                padding-top: 5px;
                width: 50%;
            }
        }
        div{
            .input-contacto-area{
                padding-top: 5px;
                width: 50%;
            }
        }
    }
}