/* Estilo html Contacto */
main{
    .contact-form{
        margin: 20px;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        div{
            padding-top: 18px;
            .contact-input{
                padding-top: 5px;
                width: 50%;
            }
        }
        div{
            .contact-input-area{
                padding-top: 5px;
                width: 50%;
            }
        }
    }
}